/*Основной цвет текста #212121 */ 
/*Вторичный цвет текста #757575 */
/*Белый цвет текста #FFFFFF */
/*Акцент #2196F3 */
:root{
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --white-text-color:#FFFFFF;
    --accent-text-color:#2196F3;
}
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


body{
    font-family: Roboto,sans-serif;
    color:var(--main-text-color);
    background-color:white;
}
.header-page{
height: 80px;
display: flex;
align-items: center;
border: 1px solid #ECECEC;
}


.conteiner{
    width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    padding-left: 15px;
    padding-right: 15px;
}

.conteiner-footer{
    width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color:#2F303A;
    padding-left: 15px;
    padding-right: 15px;  
}

.list{
    padding: 0;
    margin: 0;
}

li{
    list-style:none;
}


.logo-web{
    color:var(--accent-text-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio{
    color:var(--main-text-color); 
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 85px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.logo-studio-footer{
    color:var(--white-text-color); 
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2px;
    margin-right: 85px; 
    letter-spacing: 0.03em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-studio-footer:hover{
    color:var(--accent-text-color);
}


.logo-studio:hover{
    color:var(--accent-text-color);
}



.logo:focus{
    color:var(--accent-text-color);
}

.site-nav >li>a{
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.85;
    padding-bottom: 31;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.site-nav>li>a:hover{
    color:var(--accent-text-color);
}

.site-nav>li>a:focus{
    color:var(--accent-text-color);

}


.site-nav{
    display: flex;
    
}

.link{
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    
}


.site-nav .item:last-child{
margin-right: 0;
}

.site-nav .link.current::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }




.main-nav{
    display: flex;
    align-items: center;
}


.contacts-nav{
    margin-left: auto;
}

.contacts-nav .item{
    margin-right: 30px;
}

.contacts-nav .item:last-child{
    margin-right: 0;
}

ul {
    padding-inline-start: 0px;
}

a{
    text-decoration: none;
}

.contacts-nav{
    display: flex;
}

.site-nav .item{
    margin-right: 50px;
    padding: 0px;
}
.link.current{
    color:var(--accent-text-color);
}

.contacts-nav>li>a{
    color:var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.85;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav>li>a:hover{
    color:var(--accent-text-color);
}

.contacts-nav>li>a:focus{
    color:var(--accent-text-color);
}
.icon-svg{
    margin-right: 10px;
    fill: currentColor;
}



.hero-section{
max-width: 1600px;
margin-left: auto;
margin-right:auto;
padding-top: 200px;
padding-bottom: 200px;
background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../img/Header.jpg);
background-size: cover;

}


.hero-section-title{
 color:var(--white-text-color);
 font-weight: 900;
 font-size: 44px;
 line-height: 1.2;
 text-transform: uppercase;
}

.hero-section-button{
 
 padding: 10px 32px;
 border-radius: 4px;
 border: none;
 color:var(--white-text-color);
 font-weight: bold;
 font-size: 16px;
 line-height: 1.8;
 background-color:var(--accent-text-color);
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 cursor: pointer;
}

.hero-section-button:hover{
    color:var(--accent-text-color);
    background-color:var(--white-text-color);  
}

.hero-section-button:focus{
    color:var(--accent-text-color);
    background-color:var(--white-text-color);  
}

.container-hero {
    text-align: center;
    position: relative;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    display: inline-flex;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 581px;
    min-width: 528px;
  
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .button-close{
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
    border: 1px solid #ececec;
    cursor: pointer;
    background-color: var(--white-text-color);
  }
  
  .btn-close{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-title {
    color: var(--main-text-color);
    margin: 0;
    padding-top: 40px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  .form {
    height: 581px;
    width: 528px;
  }
  
  .form-modal {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 448px;
  }
  
  .form-modal:nth-last-child(3) {
    padding-bottom: 20px;
  }
  
  .user-name {
    color: var(--secondary-text-color);
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    padding-bottom: 4px;
    text-align: left;

  }
  
  .modal-input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 0px 12px 40px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  
  .comment {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    font-weight: normal;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  
  
  .modal-input:focus,
  .comment:focus{
    border: 1px solid #2196F3;;
  }
  
  .icon-modal{
    position: absolute;
    top: 32px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .modal input.modal-input:focus+svg.icon-modal {
   fill: #2196F3;;
  }
  
  .comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  
  .checkbox {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .checkbox:checked + .checkbox-icon {
    border-color: var(--accent-text-color);
    background-color: var(--accent-text-color);
    background-image: url(../img/chack.svg);
    background-size: contain;
    background-origin: border-box;
  }
  
  .checkbox-label {
    display: inline-flex;
    align-items: center;
    padding-bottom: 30px;
    
  }
  
  .checkbox-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
  }
  
  .checkbox-policy {
    color: var(--accent-text-color);
    text-decoration: underline;
  }
  
  .btn-modal {
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
  
    background-color: #2196F3;
    color: var(--white-text-color);
    border-radius: 4px;
    border: 0;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  
  .btn-modal:focus {
    background-color: #188CE8;
    color: var(--white-text-color);
  }

.advantages-title{
 margin-top: 30px;
 font-weight: bold;
 font-size: 14px;
 line-height: 0.86;

}

.advantages-section-list{
    display: flex;
    margin-top: 94px;
    align-items: center;
    margin-bottom: 0px;
    justify-content: space-between;

}
.advantages-section{
    margin-bottom: 94px;
}

.advantages-list{
    width: 270px;
    margin-right: 30px;
}

.advantages-list:last-child{
    margin-right: 0px;
}

.advantages-description{
 color:var(--secondary-text-color);
 font-weight: normal;  
 font-size: 14px;
 line-height: 1.58;
 margin-top: 10px;
}
.icon-advantages{
display: flex;
align-items: center;
justify-content: center;
width: 270px;
height: 120px;
left: 215px;
top: 774px;

background: #F5F4FA;
border-radius: 4px;
}



.section-title{
 font-weight: bold;   
 font-size: 36px;
 line-height: 0.86;
 text-align: center;
 
 margin-bottom: 50px;
}

.command-section{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
    background-color: #F5F4FA;
   
}
.conteiner.command{
    background-color: #F5F4FA;
}

.work-section-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.work-list{
    width: 370px;
    margin-right: 30px;
}

.work-list:last-child{
    margin-right: 0px;
}

.work-section-title{
 position: absolute;
 width: 100%;
 height: 70px;
 left: 0;
 bottom: 0;
 margin: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 color:var(--white-text-color);
 font-weight: bold;
 font-size: 14px;
 line-height: 1.14;
 text-align: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 background-color: rgba(47, 48, 58, 0.8);
}

.work-box{
position: relative;
}






.command-section-list{
    display: flex;
    justify-content: space-between;
}
.command-list{
    background-color: #FFFFFF;
    display: block;
    width: calc((100%-90px) / 4);
    margin-right: 30px;
  
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      0px 1px 3px rgba(0, 0, 0, 0.12);
}

.icon{
    display: flex;
    justify-content: center;
}

.icon-list{
    margin-right: 10px;
}

.command-name{
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 0.84;
 text-align: center;
 margin-top: 30px;
 margin-bottom: 10px;
}

.description{
 color:var(--secondary-text-color);   
 font-weight: normal;
 font-size: 16px;
 line-height: 0.84;
 text-align: center;
}

.client-section-list{
    display: flex;
    justify-content: space-between;
}

.client{
    margin-right: 30px;
}

.linc-social{
   display: flex;
   width: 44px;
   height: 44px;
   align-items: center;
   justify-content: center;
   fill: #afb1b8;
   margin-top: 16px;
   margin-bottom: 30px;
   border-radius: 50%;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
      
 .linc-social:hover{
    border-radius: 50%;
    background-color: var(--accent-text-color);
    fill: var(--white-text-color);
 }
 


.address{
    color:var(--white-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

.social-networks-list{
    display: flex;
}

.social-networks-title{
color:var(--white-text-color); 
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.linc-client{
    display:flex;
    width: 170px;
    height: 90px;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linc-icon{
  fill: currentColor;  
}
.linc-client:hover{
    fill:var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
}


.footer{
    margin-top: 94px;
    background-color: #2F303A;
}

.flex{
    display: flex;
    align-items: baseline;
}

.element{
    
    margin-right: 69px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.address-footer{
    margin-top: 20px;
    line-height: 1.71;
    font-style: normal;
    
    
}



.contacts-footer-meil{
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    
}

.contacts-footer-tel{
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.linc-footer{
    
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    fill: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
      
.linc-footer:hover{
        border-radius: 50%;
        background-color:var(--accent-text-color);
        fill:var(--white-text-color);
}
    
.email-form{
    position: relative;
    color: #FFFFFF;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px; 
    background: #2F303A; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
}

.email-form:placeholder{
    font-size: 16px;
    line-height: 20px;
}

.email-form:placeholder-shown{
border-color: rgba(255, 255, 255, 0.3);  
}
.email-form:not(:placeholder-shown){
border-color: #2196F3;
}

.btn-text{
position: relative;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
font-weight: bold;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
margin-right: 10px;

}
.icon-send{
    position: absolute;
}


.btn-footer{
    position: absolute;
    border-style: none;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;    
}

      
.btn{
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
    
}

.btn-element{
    margin-right: 8px;
    
    
}
.btn-element:last-child{
    margin-right: 0px;
}

.galery{
margin-top: 0px;

display: flex;
flex-wrap: wrap;
}

.galery-element{
width: 370px;
margin-right: 30px;
margin-bottom: 30px;
box-sizing: border-box;
border: 1px solid #EEEEEE;
}

.galery-element:nth-child(3n){
margin-right: 0px;
}

.galery-element:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.galery-element:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  

.galery-title{
 color:var(--main-text-color);
 font-weight: bold;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;
 margin: 0px;
 margin-bottom: 4px;

}

.galery-description{
 color:var(--secondary-text-color);   
 font-weight: normal;
 font-size: 16px;
 line-height: 1.87;
 letter-spacing: 0.03em;
 margin-bottom: 0px;
 margin-top: 0px;

}

.description-text{
 color:var(--white-text-color);   
 font-weight: normal;
 font-size: 18px;
 line-height: 1.56;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding: 63px 24px;
 margin: 0;
 background-color: rgba(33, 150, 243, 0.9);
 transform: translateY(100%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-thumb{
    position: relative;
    overflow: hidden;
}
.galery .galery-element:hover .description-text,
.galery .galery-element:focus .description-text{
    transform: translateY(0);
    
  }



.galery-box{
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.button{
 background: #F5F4FA;
 color:var(--main-text-color);
 text-align: center; 
 padding-top: 6px; 
 padding-left: 22px;
 padding-right: 22px;
 padding-bottom: 6px;
 border: none;
 border-radius: 4px;
 font-weight: 500;
 font-size: 16px;
 line-height: 0.62;
 cursor: pointer;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all{
width: 73px;
height: 38px;
left: 495px;
top: 174px;
}

.web{
width: 128px;
height: 38px;
left: 576px;
top: 174px;
}
.app{
width: 145px;
height: 38px;
left: 712px;
top: 174px;
}

.desing{
width: 103px;
height: 38px;
left: 865px;
top: 174px;
}

.marketing{
width: 130px;
height: 38px;
left: 976px;
top: 174px;
}


.button:hover{
  background:var(--accent-text-color);
  color:var(--white-text-color); 
  font-weight: 500;
  font-size: 16px;
  line-height: 0.62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .button:focus{
   background:var(--accent-text-color);
   color:var(--white-text-color); 
   font-weight: 500;
   font-size: 16px;
   line-height: 0.62;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img{
    display: block;
}
.gal{
    box-sizing: border-box;
    width: 100%;
}

