.email-form{
    position: relative;
    color: #FFFFFF;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px; 
    background: #2F303A; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
}

.email-form:placeholder{
    font-size: 16px;
    line-height: 20px;
}

.email-form:placeholder-shown{
border-color: rgba(255, 255, 255, 0.3);  
}
.email-form:not(:placeholder-shown){
border-color: #2196F3;
}

.btn-text{
position: relative;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
font-weight: bold;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
margin-right: 10px;

}
.icon-send{
    position: absolute;
}


.btn-footer{
    position: absolute;
    border-style: none;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;    
}